body{
  background-image: url(imagens/pt.png);
  background-size: 20%
  
}

#Titulo{
  
  background-color: greenyellow;
  border-radius: 30px;
  box-shadow: 5px 5px 10px;
}


#bloco{
  
  
  background-color: green;
  border-radius: 30px;
  height: 100vh
}

